@model IEnumerable<net_car_ASPNETCORE.Models.Motorista>
@using net_car_ASPNETCORE.Controllers;

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutMenu.cshtml";
	string cnpj = "";
	string cpf = "";
}
@section head {
	<link rel="stylesheet" runat="server" type="text/css" href="~/css/NetCarMasterStyles.css" />
	<link rel="stylesheet" runat="server" type="text/css" href="~/css/MotoristaIndex.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

}
<div class="container-index">
	<div style="margin-top: 50px"></div>
	<div>
		<h1 class="title-index">Dashboard</h1>
	</div>


	<hr style="width: 90%; border: 1px solid lightgray" />
	<br />

	<div class="new-contact">
		<div class="new-contact-div">
			<a asp-action="Create" id="create">+ Criar</a>
		</div>
	</div>
	<div style="clear: both"></div>
	<div class="tableContainer">
		<table class="indexTable">
			<tr id="header">
				<td class="main-content">
					@Html.DisplayNameFor(model => model.cnh)
				</td>
				<td class="main-content">
					@Html.DisplayNameFor(model => model.nome)
				</td>
				<td class="main-content">
					@Html.DisplayNameFor(model => model.cpf)
				</td>
				<td class="main-content">
					@Html.DisplayNameFor(model => model.cnpj_cliente)
				</td>
				<td class="main-content">
					@Html.DisplayNameFor(model => model.status)
				</td>
				<td></td>
				<td></td>
			</tr>
			@foreach (var item in Model)
			{
				cnpj = Util.formatCnpj(item.cnpj_cliente);
				cpf = Util.formatCpf(item.cpf);
				<tr>
					<td class="main-content">
						@Html.DisplayFor(modelItem => item.cnh)
					</td>
					<td class="main-content">
						@Html.DisplayFor(modelItem => item.nome)
					</td>
					<td class="main-content">
						@Html.DisplayFor(modelItem => cpf)
					</td>
					<td class="main-content">
						@Html.DisplayFor(modelItem => cnpj)
					</td>
					<td class="main-content">
						@Html.DisplayFor(modelItem => item.status)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.cnh" class="material-icons" style="color: #707070; text-decoration: none; font-size: 18px">edit</a>
					</td>
					@if (item.status == "Ativo")
					{
						<td>
							<a asp-action="Delete" asp-route-id="@item.cnh" class="material-icons" style="color: #990000; text-decoration: none; font-size: 18px">delete</a>
						</td>
					}
					else
					{
						<td>
							<a onclick="return false;" class="material-icons" style="color: #707070; text-decoration: none; font-size: 18px">delete</a>
						</td>
					}
				</tr>
			}
		</table>
	</div>
</div>
